/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Styles for OLU.view.Spinner
 */

/** Container **/
.leaflet-spinner {
	right: 0;
	left: 0;
	z-index: 10000;
}

/** Default style **/
.leaflet-control-olu-spinner {
	display: none; /* Initially hidden */
	background-color: rgba(243, 156, 18,0.8);
	padding: 5px 0;
	font-size: 1.3em;
	text-align: center;
	margin: 0 auto;
	width: 400px;
	font-weight: bold;
}

.leaflet-control-olu-spinner:before {
	content: url('img/icon_spinner.gif');
	margin-right: 15px;
	vertical-align: -8px;
}

.leaflet-control-olu-spinner.download:before {
	content: url('img/icon_download.gif');
}

.leaflet-control-olu-spinner.upload:before {
	content: url('img/icon_upload.gif');
}

@media (max-width: 399px) {
	.leaflet-control-olu-spinner {
		width: 100%;
	}
}

@media (min-width: 400px) {
	.leaflet-spinner.leaflet-bottom .leaflet-control-olu-spinner {
		border-radius: 7px 7px 0 0;
	}
	
	.leaflet-spinner.leaflet-top .leaflet-control-olu-spinner {
		border-radius: 0 0 7px 7px;
	}
}
