/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Styles for OLU.view.sidecontent.NewNote
 */

#olu-sidecontent-newnote-textarea {
	width: 100%;
	height: 200px;
	box-sizing: border-box;
}

.olu-sidecontent-newnote-buttons {
	width: 100%;
	display: table;
}

.olu-sidecontent-newnote-buttons-row {
	display: table-row;
}

.olu-sidecontent-newnote-button {
	display: table-cell;
	width: 50%;
	padding: 0 2px;
}

.olu-sidecontent-newnote-button:first-child {
	padding-left: 0;
}

.olu-sidecontent-newnote-button:last-child {
	padding-right: 0;
}

.olu-sidecontent-newnote-button button {
	width: 100%;
}
