/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Styles for OLU.view.Level
 */

.olu-level-control-container {
	/*background-color: #fff;*/
}

/** Scrollable levels container **/
.olu-level-control-levels {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 90px;
	line-height: 90px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
}

/** Current level button **/
.olu-level-control-button-lvl-current {
	background-color: rgb(12, 64, 167) !important;
}

/** Override first button **/
.leaflet-bar .olu-level-control-levels > a:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/** Override last button **/
.leaflet-bar .olu-level-control-levels > a:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
